.row {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.modalDay {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  font-family: Inter;
  color: var(--black);
  width: 70px;
  flex: 0 0 auto;
  text-transform: capitalize;
}

.modalAddTime {
  height: 40px;
  composes: labelLarge from "../../../styles/globals.css";
  flex: 0 0 auto;
  text-align: center;
  cursor: pointer;
}

.timeSlotContainer {
  margin: 0px 10px;
  width: 100%;
}
