.inputField {
  border: none;
  border-radius: 8px;
  background: var(--gray-4);
  color: var(--black);
  composes: labelLarge from "../../../styles/globals.css";
}

.timeInput {
  composes: inputField;
  composes: labelLarge from "../../../styles/globals.css";
  width: 85px;
  height: 40px;
  margin: 10px 0px;
  text-align: center;
  align-items: center;
  flex: 0 0 auto;
}

.timeInput::placeholder {
  color: var(--black);
}

.dash {
  width: 16px;
  height: 2px;

  background: #959595;
  border-radius: 30px;
  margin: 0px -17px;
}

.timeContainer {
  display: inline-flex;
  gap: 20px;
  width: 380px;
  align-items: center;
  margin: 0px 25px;
  padding-bottom: 15px;
}

.deleteIcon {
  cursor: pointer;
  width: 20px;
}
