/* Login Page Main */
.comContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1.5rem;
}
.logoContainer {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainPageLogo {
  margin-top: 15%;
  width: 292px;
  height: 240.05px;
}
.contentContainer {
  padding-left: 8rem;
  padding-top: 3rem;
  width: 690px;
}
.bottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: top;
  width: 690px;
}
.title {
  color: #1b1c1d;
  font-style: normal;
  font-weight: 500;
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25px;
}
.checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid #1b1c1d;
  box-sizing: border-box;
  border-radius: 5px;
}
.chkboxLabel {
  padding-left: 7px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: #1b1c1d;
}
.forgotPassword {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  text-decoration-line: underline;
  color: #494c4e;
}

.mainButtonContainer {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 690px;
  align-items: center;
  margin-top: 2rem;
}

/* Login Name Input */
.headerContainer {
  padding: 2rem;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  width: 690px;
  margin: auto;
  padding-top: 1rem;
}

/* Login Position Input */
.positionContainer {
  width: 690px;
  margin: auto;
}
.radioBox {
  width: 32px;
  height: 32px;
  accent-color: black;
  margin-top: 2rem;
}
.positionText {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  color: #1b1c1d;
  padding-left: 1rem;
}

.enterTitle {
  font-weight: 500;
  font-size: 45px;
  line-height: 52px;
  color: #1b1c1d;
}

.createContainer {
  width: 690px;
  margin: auto;
}

.textBoxContainer {
  margin-top: 2rem;
}

.buttonContainer {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  width: 690px;
}

.buttonOutline {
  background-color: white;
  border: 2px solid #1b1c1d;
  width: 200px;
  height: 60px;
  border-radius: 16px;
  font-size: 18px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  padding: 10px;
}

.buttonFilled {
  background-color: #f37121;
  border: none;
  width: 200px;
  height: 60px;
  border-radius: 16px;
  font-size: 18px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  padding: 10px;
}

.buttonOutline:hover {
  opacity: 0.6;
}

.buttonFilled:hover {
  opacity: 0.8;
}

.passwordError {
  composes: labelSmall from "../../styles/globals.css";
  color: red;
  height: 5px;
}