.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding-top: 2rem;
}

.title {
  composes: headlineLarge from "../../../styles/globals.css";
  padding-bottom: 2rem;
  position: relative;
  align-self: left;
  padding: 1rem;
}

.spacer {
  height: 42px;
}

.dropdownHeader {
  height: 48px;
  width: 99%;
  background-color: #46d5b3;
  border-radius: 5px;
}

.dropdownItem {
  height: 48px;
  width: 99%;
  border-radius: 5px;
}

.editPencil {
  float: right;
  cursor: pointer;
  color: black;
}

.vericalMenu {
  float: right;
  cursor: pointer;
}

.button {
  float: right;
  cursor: pointer;
  background-color: #5d5fef;
  border-radius: 10px;
  text-transform: none;
  color: white;
  padding: 5px 25px 5px 25px;
}

.button:hover {
  background-color: #5d5fef;
}

.submit {
  width: 160px;
  height: 48px;
  border: none;
  border-radius: 10px;
  background: var(--orange);

  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cancel {
  width: 160px;
  height: 48px;
  border: none;
  border-radius: 10px;
  border-color: black;
  border-width: 2px;
  background-color: white;

  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

.backgroundDiv {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.classInput {
  width: 754px;
  border-width: 0px 0px 1px 0px;
}
