.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding-right: 2rem;
  padding-top: 2rem;
}

.title {
  composes: headlineLarge from "../../../styles/globals.css";
  padding-bottom: 2rem;
  position: relative;
  align-self: left;
  padding: 1rem;
}

.spacer {
  height: 42px;
}

.dropdownHeader {
  height: 3rem;
  width: 100%;
  background-color: #46d5b3;
  border-radius: 5px 5px 0px 0px;
  padding-left: 2rem;
  padding-top: 0.75rem;
  align-items: center;
  justify-content: center;
}

.dropdownItem {
  height: 3rem;
  width: 100%;
  padding-left: 2rem;
  padding-top: 1rem;
  border: solid #bfc1c4 1px;
  border-top: solid #bfc1c4 0.5px;
}

.dropdownItem:hover {
  text-decoration: underline;
}

.editPencil {
  float: right;
  cursor: pointer;
  color: black;
  padding-top: 0.2rem;
  width: 1rem;
  margin-right: 1rem;
}

.trash {
  float: right;
  width: 1rem;
  cursor: pointer;
  color: black;
  margin-right: 0.5rem;
  padding-top: 0.2rem;
}

.verticalMenu {
  float: right;
  cursor: pointer;
}

.button {
  float: right;
  cursor: pointer;
  background-color: #5d5fef;
  color: white;
  padding: 5px 25px 5px 25px;
}

.button:hover {
  background-color: #5d5fef;
}

.accordionHeader {
  border-radius: 5px;
  margin-top: 1rem;
}
