.navbarContainer {
  margin-left: 45px;
  margin-right: 67px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.navitem {
  margin-left: 5rem;
  height: 100%;
  position: relative;
}

.navlink {
  composes: labelLarge from "../../styles/globals.css";
  text-decoration: none;
  position: relative;
  padding-bottom: 6px;
  border-bottom: 4px solid transparent;
  cursor: pointer;
}

.clicked {
  composes: labelLarge from "../../styles/globals.css";
  padding-bottom: 6px;
  border-bottom: 4px solid var(--orange);
}

.navlink:hover {
  content: "";
  border-bottom-color: var(--orange);
}
