.homeWrapper {
  margin: 65px 70px;
  display: inline-block;
}
.createBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 35px;
  width: 160px;
  height: 64px;
  border-radius: 32px;
  background: var(--white);
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.18);
  border: none;
  cursor: pointer;
  composes: labelLarge from "../../styles/globals.css";
}
.manageBtn {
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  width: 185px;
  height: 44px;
  border-radius: 32px;
  background: #5d5fef;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.18);
  border: none;
  cursor: pointer;
  composes: labelLarge from "../../styles/globals.css";
}
.addIcon {
  width: 20px;
  height: 20px;
}


.manage {
  width: 20px;
  height: 20px;
  background-color: #5d5fef;
}
