html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

button:disabled {
  background: rgba(241, 120, 45, 0.562);
  cursor: not-allowed;
}

:root {
  --orange: #f37121;
  --white: #ffffff;
  --black: #1b1c1d;
  --gray-1: #494c4e;
  --gray-2: #85888c;
  --gray-3: #bfc1c4;
  --gray-4: #e1e2e4;
  --yellow: #ffc702;
  --magenta: #ef5da8;
  --mint: #46d5b3;
  --purple: #5d5fef;
  --blue: #5ec0f0;
  --red: #ff0202;
}
