.headerContainer {
  padding: 2rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 894px;
  margin: auto;
}
.title {
  color: #1b1c1d;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 32px;
}

.text {
  composes: headlineSmall from "./globals.css";
}

.buttonContainer {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
}

.backButton {
  /*composes: buttonOutlined from "./globals.css";*/
  width: 200px;
  height: 60px;
  font-size: 18px;
  line-height: 36px;
  padding: 10px;
}

.nextButton {
  /*composes: buttonFilled from "./globals.css";*/
  width: 200px;
  height: 60px;
  font-size: 18px;
  line-height: 36px;
  padding: 10px;
}

.errorMessage {
  composes: labelSmall from "./globals.css";
  color: red;
  height: 5px;
}

.submitButton {
  composes: buttonFilled from "./globals.css";
  width: 200px;
  height: 60px;
  font-size: 18px;
  line-height: 36px;
  padding: 10px;
  margin-top: 2rem;
}
