.headerContainer {
    padding: 2rem;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    width: 894px;
    margin: auto;
}
.title {
    color: #1b1c1d;
    /* font-family: Inter; */
    font-style: normal;
    font-weight: 500;
    font-size: 57px;
    line-height: 64px;
    letter-spacing: -0.25px;
}

.text {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
}

.buttonContainer {
    margin: auto;
    /* margin-left:39%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
}

.backButton{
    composes: buttonOutlined from "./globals.css";
    width: 200px;
    height: 60px;
    font-size: 18px;
    line-height: 36px;
    padding: 10px;
}

.nextButton{
    composes: buttonFilled from "./globals.css";
    width: 200px;
    height: 60px;
    font-size: 18px;
    line-height: 36px;
    padding: 10px;
}

.errorMessage {
    composes: labelSmall from "./globals.css";
    color: red;
    height: 5px;
  }

  .submitButton{
    composes: buttonFilled from "./globals.css";
    width: 200px;
    height: 60px;
    font-size: 18px;
    line-height: 36px;
    padding: 10px;
    margin-top: 2rem;
}
