html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --orange: #F37121;
  --white: #FFFFFF;
  --black: #1B1C1D;
}

@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter.otf) format('opentype');
}
