.tabsContainer {
  margin: none;
}

.tabs {
  display: inline-block;
  border-bottom: 3px solid #F37121;
}

.tabs button {
  /* Text */
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;

  /* Button */
  width: 151px;
  height: 40px;
  border-radius: 6px 6px 0 0;
  border: none;

  cursor: pointer;
}

.activeTab {
  background-color: #F37121;
  color: #FFFFFF;
}

.inactiveTab {
  background-color: #FFFFFF;
  color: #1B1C1D;
}