/* styles for overall tab content component */
.compContainer {
  background: #f6f6fa;
  padding-left: 85px;
  padding-right: 69px;
  display: flex;
  justify-content: space-between;
  padding-top: 74px;
}

.compTitle {
  composes: headlineLarge from "./globals.css";
  color: var(--black);
  float: left;
  margin-bottom: 32px;
  margin-top: 0px;
}

.searchBar {
  font-family: Inter;
  font-size: 15px;
  padding: 15px;
  float: right;
  background: var(--white);
  border: 1px solid #85888c;
  box-sizing: border-box;
  border-radius: 8px;
  width: 263px;
  height: 40px;
  margin-bottom: 32px;
}

.leftContainer {
  flex: 1;
}

.rightContainer {
  float: left;
}

.compList ul {
  padding-left: 0px;
  padding-right: 5px;
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 600px;
}

.orderTitle {
  composes: headlineSmall from "./globals.css";
  color: var(--black);
  margin-bottom: 8px;
}

.orderElem {
  background: #ffffff;
  border: 1px solid #e1e2e4;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 16px;
  padding-left: 16px;
  margin-bottom: 8px;
}

.listItemText {
  composes: titleSmall from "./globals.css";
}

.filterTitle {
  composes: headlineSmall from "./globals.css";
  color: var(--black);
  margin-top: 30px;
  margin-bottom: 8px;
}

.filterList {
  background: #ffffff;
  border: 1px solid #e1e2e4;
  box-sizing: border-box;
  border-radius: 8px;
  padding-right: 16px;
  padding-left: 16px;
}

.filterList li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  width: 90px;
}

/* 
.scroll {
  margin-right: 95px;
} */
.scroll::-webkit-scrollbar {
  background: transparent;
}

/* styles for individual class/student/staff card components */
.listElem {
  background: var(--white);
  border: 1px solid #e1e2e4;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  list-style-type: none;
  width: 100%;
  height: 55px;
  padding: 24px 17px 24px 17px;

  /* Text */
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: var(--black);
  margin-bottom: 25px;
}

.leftText {
  composes: titleMedium from "./globals.css";
}

.rightText {
  composes: titleSmall from "./globals.css";
}
