.modalWrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  overflow: auto;
  backdrop-filter: brightness(80%);
}

.modalContent {
  width: 512px;
  height: 628px;
  margin: 2% auto;
  border-radius: 16px;
  background-color: var(--white);
  padding: 20px 32px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.headerWrapper {
  display: flex;
  align-items: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

input:checked + .slider {
  background-color: var(--orange);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--orange);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.radioOptionWrapper {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.neverOptionWrapper {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 14px;
}

.radio {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  cursor: pointer;
}

.title {
  font-family: Inter;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: var(--black);
}

.largeLabel {
  composes: labelLarge from "./globals.css";
  margin: 0px;
}

.smallLabel {
  composes: titleMedium from "./globals.css";
  margin: 0px;
}

.inputField {
  border: none;
  border-radius: 8px;
  background: var(--gray-4);
  color: var(--black);
  composes: labelLarge from "./globals.css";
}

.inputField:disabled {
  background: #f0f0f0;
}

.numberInput {
  width: 80px;
  height: 40px;
  margin: 0px 16px;
  text-align: center;
  composes: inputField;
}

.numberInput::-webkit-inner-spin-button {
  opacity: 1;
}

.dropDown {
  width: 96px;
  height: 40px;
  padding-left: 10px;
  composes: inputField;
}

.dayOfWeekWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  margin-bottom: 40px;
  width: 396px;
}

.circle {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: var(--gray-4);
  color: var(--gray-1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.activeCircle {
  background: var(--orange);
}

.disabledCircle {
  background: #f0f0f0;
}

.darkLabel {
  color: var(--black);
}

.dateInput {
  composes: inputField;
  composes: labelLarge from "./globals.css";
  width: 120px;
  height: 40px;
  margin: 10px 0px;
  margin-left: 30px;
  text-align: center;
  cursor: pointer;
}

.buttonWrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 65px;
}

.saveButton {
  width: 160px;
  height: 48px;
  border: none;
  border-radius: 10px;
  background: var(--orange);

  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

.cancelButton {
  width: 160px;
  height: 48px;
  border: 1px solid var(--black);
  border-radius: 10px;
  background: var(--white);

  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}
